<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container"><a href="#" class="navbar-brand">Sineflex</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Filmler</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Diziler</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Listem</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control " type="search" placeholder="Ara" aria-label="Ara">
          </form>
    </div>
</nav>