<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="/assets/img/movie-1.jpg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h2 class="card-title">Harry Potter ve Felsefe Taşı</h2>
                <p class="card-text">Harry Potter 11. yaş gününde güçlü bir sihirbaz olduğunu ve Hogwarts Cadılık ve
                    Büyücülük Okulu'nun onu beklediğini öğrenir.</p>
                <button class="btn btn-sm btn-outline-primary">Detaylar</button>
            </div>
        </div>
    </div>
</div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/movie-2.jpg" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">Harry Potter ve Sırlar Odası</h2>
                    <p class="card-text">Harry, Dobby'nin Hogwarts'a dönmemesi gerektiği konusunda yaptığı uyarılara
                        kulak
                        asmaz ve Ron ve Hermione ile birlikte bir dizi gizemli saldırıyı araştırır.</p>
                    <button class="btn btn-sm btn-outline-primary">Detaylar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/movie-3.jpg" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">Harry Potter ve Azkaban Tutsağı</h2>
                    <p class="card-text">Hogwarts'daki üçüncü yılında Harry, Voldemort sempatizanı Sirius Black'in onu
                        yakalamak üzere hapishaneden kaçmasıyla büyük bir tehlikeyle karşı karşıya kalır.</p>
                    <button class="btn btn-sm btn-outline-primary">Detaylar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/img/movie-4.jpg" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">Harry Potter ve Ateş Kadehi</h2>
                    <p class="card-text">Harry Potter, Hogwarts'daki dördüncü yılında tehlikeli Üçbüyücü Turnuvası'nda
                        uzak
                        okullardan gelen genç büyücülerle birlikte mücadele eder.</p>
                    <button class="btn btn-sm btn-outline-primary">Detaylar</button>
                </div>
            </div>
        </div>
    </div>
